body, html{
	height: 100%;
	width:100%;
	overflow: hidden;
	font-family: "DotGothic16";
 }
.fill {
    min-height: 100%;
    height: 100%;
}
.half-fill {
    min-height: 50%;
    height: 50%;
}


#zoneDeJeu {
     background: linear-gradient(rgba(82, 133, 172, 0.8075), rgb(219, 219, 72));
     border-bottom: solid 5px black;

}
